# Git相关
.git
.gitignore

# Python临时文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker文件
Dockerfile
*/Dockerfile
.dockerignore
*/docker-compose.yml
model-compose.yml
model-compose-standalone.yml

# 开发环境
.env.dev
.env.local
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 日志文件
logs/
*.log 